@font-face {
    font-family: 'Circular Std Black';
    src: url('CircularStd-Black.eot');
    src: url('CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Black.woff2') format('woff2'),
        url('CircularStd-Black.woff') format('woff'),
        url('CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Bold.eot');
    src: url('Orkney-Bold.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Bold.woff2') format('woff2'),
        url('Orkney-Bold.woff') format('woff'),
        url('Orkney-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Bold';
    src: url('CircularStd-Bold.eot');
    src: url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff'),
        url('CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('CircularStd-Medium.eot');
    src: url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff'),
        url('CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Regular.eot');
    src: url('Orkney-Regular.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Regular.woff2') format('woff2'),
        url('Orkney-Regular.woff') format('woff'),
        url('Orkney-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Light.eot');
    src: url('Orkney-Light.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Light.woff2') format('woff2'),
        url('Orkney-Light.woff') format('woff'),
        url('Orkney-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orkney';
    src: url('Orkney-Medium.eot');
    src: url('Orkney-Medium.eot?#iefix') format('embedded-opentype'),
        url('Orkney-Medium.woff2') format('woff2'),
        url('Orkney-Medium.woff') format('woff'),
        url('Orkney-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

